/* ==================GOOGLE FONTS===================== */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&family=Poppins:wght@400;500;600&display=swap');

/* ==================CSS VARIABLES===================== */
:root{

  --header-hight: ;
/* ============== COLORS ================ */
  --hue-color: ;

  /* HSL color mode */
  --frist-color: #F1F1F1;
  --frist-color-second:hsl(44, 100%, 97%) ;
  --title-color: #363958;
  --text-color: #3E3E3E;
  --text-color-second: #FABE4C;
  --text-color-light: #ffffff;
  --input-color: #ffffff ;
  --body-color: #E5E5E5;
  --btn-color: linear-gradient(180deg, #A4BC46 0%, #85A019 100%);
;

  /* =========== FONTS and Typogrhaphy ============= */

  --body-font: 'Open Sans', sans-serif;
  --title-font: 'Poppins', sans-serif;

  /* .5rem = 8px 1rem = 16px */
  --big-font-size: 2.5rem;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --text-font-size: 1rem;

  /* ============== Font weight================ */
  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 700;

}

  /* ============== font size for large device ================ */
@media screen and (min-width:992px) {
  :root {
      /* .5rem = 8px 1rem = 16px */
      --big-font-size: 4rem;
      --h1-font-size: 3rem;
      --h2-font-size: 1.5rem;
      --text-font-size: 1rem;

  }

}

/* ================== BASE ===================== */
*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}

body{
  font-family: var(--body-font) ;
  font-weight: var(--font-regular);
  background-color: var(--body-color);
}

h1,h2,h3,h4{
  font-family: var(--title-font);
  font-weight: var(--font-bold);
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  width: 100%;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
}

/* =============== REUSEABLE CLASS ================= */
.btn{
  padding: 1rem 2rem;
  font-weight: var(--font-medium);
  text-transform: uppercase;
  color: var(--text-color-light);
  background: var(--btn-color);
  margin-top: 1rem;
}

/* ================== HEADER STYLES ================== */
.header{
  height: 100vh;
  width: 100vw;
}

/* ================== NAV BAR ===================== */
nav{
  background-color: var(--frist-color-second);
  width: 100vw;
}
.navbar .navbar-brand{
  font-weight: var(--font-medium);
  color: var(--title-color);
  font-family: var(--title-font);
}
.navbar .navbar-brand span{
  color: #85A019;
}

.navbar .navbar-collapse ul li a{
  color: var(--title-font);
  font-weight: var(--font-medium);
  font-family: var(--title-font);
  font-size: var(--text-font-size);
  padding:0 1.5rem;
}

.navbar .navbar-collapse ul li:hover a,
.navbar .navbar-collapse ul li .active{
  color: #85A019;
}
.navbar-toggler span{
  color: var(--title-color);
}
/* ================== HERO SECTION ===================== */
.hero-section{
  background-color: var(--frist-color-second);
  height: 100vh;
  width: 100vw;
}

.hero-section h1{
  font-size: var(--big-font-size);
  color: var(--title-color);
  font-family: var(--title-font);
  font-weight: var(--font-bold);
}

.hero-section h1 span{
  color: var(--text-color-second);
}
.hero-section p{
  color: var(--text-color);
}




/* =============== MAIN SECTION STYLES ================== */


/* ================== FOOTER STYLES ==================== */